{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <h2> Main page </h2>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-_light">
    <a class="btn btn-outline-secondary" href="{% url 'home' %}">Home</a>
    <a class="btn btn-outline-secondary" href="{% url 'comment' %}">Comment</a>
    <a class="btn btn-outline-secondary" href="{% url 'dashboard' %}">Dashboard</a>
    <a class="btn btn-outline-secondary" href="{% url 'about' %}">About-us</a>
  </div>
{% endblock %}